
*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}
html, body {
    /* height: 100%; */
  }
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header p{
    text-align: center;
    font-size: 22px;
    color: #1f2958;
    font-weight: bold;
}
.dateform {
    height: 45px;
    padding: 7px 0;
    width: 100%;
    text-align: center;
    /* background-color: #c5e4ff; */
    /* position: fixed; */
    top: 64px;
    margin-top: 10px;
}


.dateform > div > * {
    font-size: 12px;
}
.dateform div :first-child {
    width: 17%;
    /* background: aliceblue; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8%;
}

.dateform div :nth-child(2){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 17%;
}
.dateform div :nth-child(3){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;
}
.dateform div :nth-child(4) {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dateform p{
    width: 25%;
    float: left;
    text-align: left;
    /* padding-left: 12px; */
    /* background: antiquewhite; */
    margin-left: 0%;
}
.infowrap {
    width: 92.4vw;
    /* background-color: aquamarine; */
}
.info{
        /* position: relative; */
    /* top: 5.5vh; */
    /* display: inline-block; */
    /* left: 88vw; */
    float: right;
}
.date {
    float: left;
    margin-left: 7px;
    width: 63px;
}
.button {
    float: right;
    margin-right: 4vw;
    margin-top: -20px;
}

.button >.g{
    background: #82b0d9 url(../../images/indicator/icon03.png) no-repeat 5px 3.5px;
    /* border-radius:5px; */
    background-size: 21px;
    width: 86px
}
.button >.g button {
    width: 72px;
}
.button >.d{    
        /* background: #82b0d9 url(../../images/indicator/icon01.png) no-repeat 5px 3.5px; */
        /* border-radius:5px; */
    background-size: 21px;
    margin-left: 10px;
    width: 95px;
}
.button > .e {
    background: #d98282 url(../../images/indicator/icon02.png) no-repeat 5px 3.5px;
    /* border-radius:5px; */
    background-size: 18px;
    margin-left: 40px;
    width: 70px;
}
.button > .e button {
    width: 52px;
}

.button  div{
    width: 129px;
    height: 24px;
    float: left;
    cursor: pointer;
}

.button  div button{
    border: none;
    background: none;
    color: #ffffff;
    margin-left: 25px;
    text-align: left;
    font-size: 14px;
    width: 95px;
    height: 24px;
    cursor: pointer;
}
.header{    
    height: 38px;
    border-bottom: 2px solid #5C7D9A;
    width: 100%;
}

.option{
    width: 92vw;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

button.resetZoomChart {
    background: url(../../images/indicator/rechart_icon3.png) no-repeat 3px 2.5px;
    /* background-color: #5bb2ff; */
    background-size: 18px;
    border: 1px solid #5bb2ff;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    color: #1f2958;
    padding: 3px 7px;
    width: 85px;
    /* height: 24px; */
    /* border-radius: 151%;*/
}
.resetZoomChart:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px #607d8b;
    font-weight: bold;
}

button#resetZoomChart {
	background: url(../../images/indicator/rechart_icon3.png) no-repeat 3px 2.5px;
    /* background-color: #5bb2ff; */
    background-size: 18px;
    border: 1px solid #5bb2ff;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    color: #1f2958;
    padding: 3px 7px;
    width: 85px;
    /* height: 24px; */
    /* border-radius: 151%;*/
}
#resetZoomChart:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px #607d8b;
    font-weight: bold;
}

label {
    margin-left: 1%;
    margin-top: -2%;
    width: 60px;
    /* border: 2px solid #4a7295;
    background-color: #b7d3eb; */
    font-size: 14px;
    font-weight: bold;
    color: #1f2958;
    padding: 3px 6px;
    display: inline-block;
}
input.legend {
    border: none;
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
}

p.date01 {
    margin-top: 0.5vh;
    font-size: 15px;
}
p.date01 span {
    font-size: 15px;
}


.Icon {
	display: inline;
    cursor: pointer;
    float: right;
}
.Icon_01{
	font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    color: #215a8d;
    border-radius: 100%;
    border: 2px solid #215a8d;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
}
/* 모달 */
.modal{
	display: none;
    width: 359px;
    height: 74px;
    background: #8cb6db;
    position: absolute;
    margin-top: 3px;
    margin-left: -401px;
    border-radius: 5px;
    box-shadow: 5px 5px 13px 3px #00000087;
    padding: 18px 30px 57px 30px;
    color: #1c2e3e;
}

.modal.active{
	display: block;
}

.modal-title{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-content{
	line-height: 25px;
}
.modal-content ul li {
    list-style: none;
}


.chart01{
    width: 92vw;
    height: 70vmin;
    border: 1px solid #9c9c9c;
    margin-bottom: 2vh;
}