
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* �뜝�럡留믣뜝�럥堉딁춯濡ル�占쎈� */
  .conName{
        height:30px;
    width: 1336px;
  }
.contents{
    text-align: center;
    height: 42px;
    margin-top: 10px;
}
.contents a{
    text-decoration: none;
    color: #000;
    float: left;
    margin-left: 108px;
}
.contents span{
	float: left;
    font-size: 22px;
    margin-left: 26px;
    padding: 5px;
    font-family: 'Noto Sans KR';
    
}

.contents span:after {/*after 揶쏉옙占쎄맒占쎌뒄占쎈꺖*/
   	display: block;
    content: '';
    height: 3px;
    border-bottom: solid 2px #32689b;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.contents span:hover:after {
   transform: scaleX(1);/*a 占쎈꺗占쎄쉐占쎈퓠 hover占쎈뻻 after�몴占� 疫꿸퀣�� 占쎄쾿疫꿸퀡以� 癰귨옙野껓옙*/
}

.contents div{
    background-color: #5C7D9A;
    width: 170px;
    float: left;
    margin-left: 26px;
    height: 43px;
}
.contents :first-child{
    margin-left: 0;
}
/* �뜝�럥�몥�뜝�럩逾졾뜝�럥諭쒎뜝�럥�룛占쎈슪�삕 */
div#ui-datepicker-div{
    position: absolute;
    top: 754px;
    left: 709.969px;
    z-index: 1;
    background-color: #fff;
    width: 223px;
}

/* �뵓怨쀬쪚�몭占� */

.ConEx{
	width: 1293px;
    height: 181px;
    background-color: #fffff5;
    margin-top: 15px;
}

/* selectbox */

.selectbox{
    height: 550px;
    width: 1336px;
    margin-top: 5px;
}
.selectbox >*{ 
    float: left;
    width: calc(1336px  / 6);
    height: 550px;
}
/* �댖怨뚰�э옙�뤂�뵓怨뚯뫓占쎈괏 */

.submit{
    font-size: 19px;
    margin-top: 25px;
    text-align: center;
    display: block;
    background-color: #c7e4ff;
    color: #004281;
    font-weight: bold;
    border-radius: 11px;
    border: none;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px #000000;
    font-weight: bold;
    background-color: #004281;
    color: #c7e4ff;
}




/* 濡쒓렇�씤�븯�윭媛�湲� css */
.conName-background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: .3s;
	background: rgba(0, 0, 0, 0.38);
	z-index: 1;
	display: block; 
}

.pleaseLogin{
    width: 438px;
    height: 148px;
    margin-top: 11%;
    border-radius: 5px;
    box-shadow: 0px 0 16px 0px #0000002e;
    padding: 34px;
    padding-right: 42px;
    position: fixed;
    top: 18%;
    left: 40%;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.pleaseLogin span{
	margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

#pleaseLoginBtn{
    background-color: #c7e4ff;
    color: #004281;
    width: 127px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

#pleaseLoginBtn:hover{
	color: #c7e4ff;
    background-color: #004281;
    box-shadow: 0px 2px 5px #000000;
    font-weight: bold;
    cursor:pointer;
}




/* cell3 - �궇吏� - �젣怨듬궇吏� css */
.serviceDate{
    position: absolute;
    margin-left: 11.5%;
    margin-top: -7.1%;
    padding: 10px;
    box-shadow: 6px 8px 10px 0px rgb(0 0 0 / 20%);
    z-index: 3; 
}

.serviceDate_notice {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 11px;
}

input#dateBtn {
    position: absolute;
    display: inline;
    margin-top: -37px;
    margin-left: 195px;
}

.serviceDate table{
	float: left;
}

.serviceDate table tr:hover{
	cursor:pointer;
	text-decoration: underline;
	font-weight: bold;
}


