*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}
a{
    text-decoration-line: none;
    text-decoration: none;
    color: #000;
}
.header {
    width: 100%;
    height: 69px;
    border-bottom: 3px solid #1f2958;
    padding-bottom: 5px;
    position: relative;
}

.logo{
    float: left;
    width: 156px;
    height: 57px;
    margin-left: 14px;
    margin-top: 10px;
}
.logo02{
    float: left;
    color: #1f2958;
    font-size: 35px;
    padding: 10px 0;
    font-weight: bold;
}
.mtap{
    position: absolute;
    float: right;
    bottom: 0;
    right: 20px;
    
  }
  .mtap p{
      float: left;
      font-size: 17px;
      padding: 0 6px;
  }
  
/* 드롭다운 베뉴 */
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    border: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c6dcf0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    right: 1px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #b3d3f0;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #c6dcf0;}

/* 상단메뉴 */
  .ConName{
    height: 41px;
    width: 1920px;
    border-bottom: 3px solid #5C7D9A;
  }
.contents{
    text-align: center;
    width: 1528px;
    height: 42px;
}
.contents a{
    text-decoration: none;
    color: #000;
    float: left;
    font-size: 23px;
    margin-left: 26px;
    width: 165px;
}
.contents span{
    float: left;
    font-size: 23px;
    margin-left: 26px;
    width: 155px;
    padding: 5px;
}
.contents div{
    background-color: #5C7D9A;
    width: 170px;
    float: left;
    margin-left: 26px;
    height: 43px;
}
.contents :first-child{
    margin-left: 0;
}
/* 데이트피커 */
div#ui-datepicker-div{
    position: absolute;
    top: 754px;
    left: 709.969px;
    z-index: 1;
    background-color: #fff;
    width: 223px;
}

/* 베너 */

.ConEx{
    width: 1920px;
    height: 190px;
    background-color: #555555;
}

/* selectbox */

.selectbox{
    height: 555px;
    width: 1920px;
}
.selectbox >*{ 
    float: left;
    width: calc(100% / 6);
    height: 555px;
}
/* 조회버튼 */

.submit{
    font-size: 25px;
    margin-top: 11px;
    text-align: center;
    display: block;
    background-color: #5c7d9a;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}




