

/* 占쎄맒占쎈뼊筌롫뗀�뤀 */
  .conName{
        height:30px;
    width: 1224px;
  }
.contents{
    text-align: center;
    height: 42px;
    margin-top: 10px;
}
.contents a{
    text-decoration: none;
    color: #000;
    float: left;
    margin-left: 79px;
    width: 61px;
}
.contents span{
        float: left;
    font-size: 16px;
    margin-left: 26px;
    width: 104px;
    padding: 5px;
}

.contents span:after {/*after 媛��긽�슂�냼*/
   	display: block;
    content: '';
    border-bottom: solid 2px #162d97;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.contents span:hover:after {
   transform: scaleX(1);/*a �냽�꽦�뿉 hover�떆 after瑜� 湲곗〈 �겕湲곕줈 蹂�寃�*/
}

.contents div{
    background-color: #5C7D9A;
    width: 170px;
    float: left;
    margin-left: 26px;
    height: 43px;
}
.contents :first-child{
    margin-left: 0;
}
/* 占쎈쑓占쎌뵠占쎈뱜占쎈돗�뚳옙 */
div#ui-datepicker-div{
    position: absolute;
    top: 754px;
    left: 709.969px;
    z-index: 1;
    background-color: #fff;
    width: 223px;
}

/* 甕곗쥓瑗� */

.ConEx{
	width: 1336px;
    height: 181px;
    background-color: #fffff5;
    margin-top: 10px;
}

/* selectbox */

.selectbox{
    height: 550px;
    width: 1336px;
    margin-top: 25px;
}
.selectbox >*{ 
    float: left;
    width: calc(1336px  / 6);
    height: 550px;
}
/* 鈺곌퀬�돳甕곌쑵�뱣 */

.submit{
    font-size: 19px;
    margin-top: 25px;
    text-align: center;
    display: block;
    background-color: #c7e4ff;
    color: #004281;
    font-weight: bold;
    border-radius: 11px;
    border: none;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px #000000;
    font-weight: bold;
    background-color: #004281;
    color: #c7e4ff;
}




/* 로그인하러가기 css */
.conName-background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: .3s;
	background: rgba(0, 0, 0, 0.38);
	z-index: 1;
	display: block; 
}

.pleaseLogin{
    width: 438px;
    height: 148px;
    margin-top: 11%;
    border-radius: 5px;
    box-shadow: 0px 0 16px 0px #0000002e;
    padding: 34px;
    padding-right: 42px;
    position: fixed;
    top: 18%;
    left: 40%;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.pleaseLogin span{
	margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

#pleaseLoginBtn{
    background-color: #c7e4ff;
    color: #004281;
    width: 127px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

#pleaseLoginBtn:hover{
	color: #c7e4ff;
    background-color: #004281;
    box-shadow: 0px 2px 5px #000000;
    font-weight: bold;
    cursor:pointer;
}




/* cell3 - 날짜 - 제공날짜 css */
.serviceDate{
    position: absolute;
    margin-left: 11.5%;
    margin-top: -7.1%;
    padding: 10px;
    box-shadow: 6px 8px 10px 0px rgb(0 0 0 / 20%);
    z-index: 3; 
}

.serviceDate_notice {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 11px;
}

input#dateBtn {
    position: absolute;
    display: inline;
    margin-top: -37px;
    margin-left: 195px;
}

.serviceDate table{
	float: left;
}

.serviceDate table tr:hover{
	cursor:pointer;
	text-decoration: underline;
	font-weight: bold;
}


