
.contents :nth-child(8){
    background-color: #5C7D9A;
    color: white;
}


.cell1{
    /* width: calc(100% / 6 *2); */
    background: #ccdded;
}
.cell1 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
    margin-left: 105px;
}
.cell1 label{
    margin: 0 39px;
    font-size: 20px;
    display: block;
}
.cell1_01{
    margin-top: 14px;
    height: 185px;
    border-bottom: 1px solid gray;
}
.cell1_01 div{
    width: 193px;
}
.cell1_02{
    height: 162px;
    border-bottom: 1px solid gray;
}
.cell1_02 div{
    width: 281px;
}
.cell1_02 div label {
    height: 82px;
    margin-left: 82px;
}
.cell1_03{
    height: 106px;
}
.cell1_03 div{
    width: 193px;
}

.cell2{
    background: #ccdded;
}
.cell2 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell2 label{
    margin: 12px;
    font-size: 20px;
    display: block;
}
.cell2_01{
    margin-top: 14px;
    height: 185px;
    border-bottom: 1px solid gray;
}
.cell2_01 div{
    width: 265px;
}
.cell2_02{
    height: 162px;
    border-bottom: 1px solid gray;
    /* border-top: 1px solid gray; */
    margin-top: 13px;
}
.cell2_02 div{
    width: 265px;
    margin-top: -13px;
}
.cell2_03{
    height: 100px;
}
.cell2_03 div{
    width: 265px;
    margin-top: -11px;
}



.cell3{
    /* background: #ccdded; */
    background: #ccdded;
}
.cell3_01{}
.cell3_02{
    margin:98px 0px 58px 0px;
    
}
.cell3_02 p {
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell3_02 label{
    margin: 12px;
    font-size: 20px;
    display: inline-block;
}
.cell3_02 div label {
    width: 186px;}
.cell3_02 select{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}
.cell3_02 span{
    font-size: 20px;
    /* float: left; */
}
.cell3 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell3 label{
    margin: 0 -84px 0 62px;
    font-size: 20px;
    display: inline-block;
    width: 202px;
}
input.date {
    margin-left: 10px;
}

#passDate {
    margin-left: 15px;
    font-size: 15px;
}
#anal_area_cd_sido{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}
#anal_area_cd{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}


/* hcell1 */
.hcell1{
    float: left;
    height: 555px;
    width: calc(100% / 2);
}
.hcell1 >*{ 
    float: left;
    width: 100%;
    height: 555px;
}
.hcell1 >.cell6 > .cell6_01 div{
    margin-top: -60px;
    margin-left: 83px;}

/* hcell 요소 */

.cell4 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell4 label{
    margin: 12px;
    font-size: 20px;
    display: block;
}
.cell4_01_01_Y{
    margin-top: 23px;
    width: 836px;
    height: 306px;
    padding: 30px;
}

.cell4_01 span{
    font-size: 19px;
    font-weight: bold;
}

.cell4_01 p{
    font-size: 18px;
    font-weight: inherit;
    text-align: inherit;
    margin: auto;
    width: 80%;
    border-bottom: none;
}

.cell4_01_01_N{
	opacity: 1;
    border: 1px solid #0000007d;
    border-radius: 5px;
    width: 700px;
    height: 200px;
    margin-top: 122px;
    box-shadow: 13px 13px 10px 0px #0000002e;
}

.cell4_01_01_N span{
    font-size: 56px;
    margin-left: 30px;
    color: red;
    font-weight: bold;
}

.cell4_01_01_N p{
    font-size: 17px;
    border-bottom: none;
    width: 578px;
    text-align: left;
}

table, th, td{
    border: 1px solid #0000008f;
    border-collapse: collapse;
    font-size: 15px;
    padding: 12px;
}

th{
	width: 100px;
	background: #ccdded;
    font-size: 18px;
}





.submit{
    width: 145px;
    height: 49px;
    float: left;
    margin-left: 46%;
}

.submit2{
    margin-top: 11px;
    text-align: center;
    display: block;
    width: 145px;
    height: 49px;
    font-size: 25px;
    background-color: #5c7d9a;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    float: left;
    margin-left: 21%;
}