
#transferCate{
        color: #001687;
}



.cell1{
    background:#c7e4ff;
}
.cell1 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;
}
.cell1 label{
    margin: 0 39px;
    font-size: 15px;
    display: block;
    margin-top: 15px;
}
.cell1_01{
    margin-top: 34px;
    height: 159px;
    border-bottom: 1px solid #b9b9b9;
}
.cell1_01 div{
    width: 235px;
}
.cell1_02{
    height: 128px;
    border-bottom: 1px solid #b9b9b9;
}
.cell1_02 div{
    /*width: 643px;*/
}
.cell1_02 div label {
    height: 82px;
    margin-left: 38px;
    margin-top: 15px;
}
.OD{
    height: 37px;
    /* width: 640px; */
    border-bottom: 1px solid #b9b9b9;
}

.cell1_03{
    height: 106px;
}
.cell1_03 div{
    width: 239px;
}

.cell2{
    background: #c7e4ff;
}
.cell2 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;;
}
.cell2 label{
    margin: 12px -6px;
    font-size: 15px;
    display: block;
}
.cell2_01{
    margin-top: 14px;
    height: 163px;
    border-bottom: 1px solid #b9b9b9;
}
.cell2_01 div{
    width: 179px;
    margin-top: 30px;
}
.cell2_02{
    height: 128px;
    border-bottom: 1px solid #b9b9b9;
    /* border-top: 1px solid #b9b9b9; */
    margin-top: 15px;
}
.cell2_02 div{
    width: 179px;
    margin-top: 3px;
}
.cell2_03{
    height: 100px;
}
.cell2_03 div{
    width: 179px;
}



.cell3{
    /* background: #ccdded; */
    background: #c7e4ff;
}
.cell3_01{}
.cell3_02{
     margin: 63px 0px 69px 0px;
    
}
.cell3_02 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;
}
.cell3_02 div {
    margin-top: 15px;
}

.cell3_02 label{
    margin: 12px;
    font-size: 15px;
    display: inline-block;
}
.cell3_02 div label {
    width: 186px;}
.cell3_02 select{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}
.cell3_02 span{
    font-size: 15px;
    /* float: left; */
}
.cell3 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;
}
.cell3 label{
    margin: 10px 0px 0px 41px;
    font-size: 15px;
    display: inline-block;
    width: 127px;
}
input.date {
    margin-left: 10px;
    width: 79px;
}

#passDate {
    margin-left: 15px;
    font-size: 15px;
}
#anal_area_cd_sido{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
    margin-top: 30px;
}
#anal_area_cd{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}


/* hcell1 */
.hcell1{
    float: left;
    height: 500px;
    width: calc(1336px  / 2);
}
.hcell1 >*{ 
    float: left;
        width: calc(1336px  / 2 /3);
   height: 500px;
    /* border-left: 1px solid rgb(189, 189, 189); */
}
.hcell1 > .cell4{}
.hcell1 > .cell4 p{}
.hcell1 > .cell4 > .cell4_01{
        width: 153px;
    margin-top: 29px;
}
.hcell1 > .cell5{}
.hcell1 > .cell5 p {}
.hcell1 >.cell5 > .cell5_01 div{}
/* .hcell1 > .cell6{width: calc(100% / 2);} */
.hcell1 > .cell6 p {}
.hcell1 >.cell6 > .cell6_01 div{
    margin-top:-46px;
    margin-left: 83px;}

/* hcell 占쎌뒄占쎈꺖 */

.cell4{
    /* background: #ccdded; */
}
.cell4 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;
}
.cell4 label{
    margin: 12px;
    font-size: 15px;
    display: block;
}
.cell4_01{
    margin-top: 14px;
    height: 163px;
    /* border-bottom: 1px solid #b9b9b9; */
}
.cell4 select{
    font-size: 15px;
    width: 66px;
}


/* .cell5{background: #ccdded;} */
.cell5 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;
}
.cell5 label{
    margin: 9px;
    font-size: 15px;
    display: block;
}
.cell5_01{
    margin-top: 14px;
    height: 163px;
    /* border-bottom: 1px solid #b9b9b9; */
}
.cell5_01 div{
    width: 179px;
    margin-top: 29px;
}


/* .cell6{background-color: #e8f4ff;} */
.cell6 p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    background-color: #32689b;
    height: 42px;
    color: #fff;
}
.cell6 label{
    margin: 9px;
    font-size: 15px;
    display: block;
}
.cell6_01{
    margin-top: 25px;
    height: 161px;
}
.cell6_01 div{
    width: 143px;
}
.cell6_01 p {
    display: inline-block;
    font-size: 15px;
    border: none;
    width: 87px;
    margin-left: 15px;
    margin-top: -6px;
    color: #000;
    background: none;}
.cell6_02{
    margin-top: 14px;
    height: 71px;
    /* border-bottom: 1px solid #b9b9b9; */
}
.cell6_02 p {
    display: inline-block;
    font-size: 15px;
    border: none;
    width: 87px;
    margin-left: 15px;
    margin-top: -6px;
    color: #000;
    background: none;
}
/* -----占쎈걗占쎄퐨筌륅옙----- */
.busname_wrap{
    width: 133px;
    height: 48px;
    border-radius: 14px;
    margin-left: 82px;
    margin-top: -43px;
}
.search{
    height: 52px;
    /* background-color: #90bde8; */
    border-radius: 10px;
}
.input-wrap{
    /* width: 181px; */
    /* background-color: aqua; */
    float: left;
}
.input-wrap input{
    /* width: 189px; */
    height: 26px;
    /* border: none; */
    padding: 5px;
    border: 1px solid #838383;
}
.button-wrap{
    width: 150px;
    width: 41px;
    /* background-color: aqua; */
    float: left;
    /* height: 26px; */
    margin: 5px 0;
}
.button-wrap button{
    height: 28px;
    border: none;
    background-color: #71a6d8;
    color: #fff;
}

.search-con{
   	/*background: bisque; */
    height: 152px;
    margin-left: -105px;
    width: 252px;
}
.search-con p {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    margin-bottom: 34px;
    margin-top: 13px;
    border-right: 1px solid;
    line-height: 13px;
    width: 59px;
    height: 13px;
}
.search-con div span {
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 35px;
    /* margin-left: -113px; */
    width: 165px;
    float: right;
}

.submit{
    width: 66px;
    height: 35px;
}
a{
}

input[type=radio] + label{
   display: inline-block;
   margin: -2px;
   padding: 8px 19px;
   background-color: #f5f5f5;
   border: 1px solid #ccc;
   font-size: 13px !important;
}



/* modal�뤃�딅열 */
input[id=modalBtn] {
    display: none;
}
input[id=modalBtn]:checked ~ .modalContainer {
    display: block;
}

input[id=modalBtn] + label {
        display: inline-block;
    width: 103px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    border: 1px solid darkgrey;
    border-radius: 10px;
}

.modalContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #16161699;
	
}

/* modalBox */
.modalBox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 768px;
    height: 444px;
    background: #fff;
    text-align: center;
}
/* overlay */
.modalContainer > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}
/* close Btn */
.modalBox > label {
        position: absolute;
    right: -9px;
    top: -9px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    font-size: 27px;
    /* border-radius: 2px; */
    background: #32689b;
    cursor: pointer;
    color: #fff;
}

.routeNotice{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #32689b;
    height: 12%;
    line-height: 58px;
    background: #c7e4ff;
}

.routeBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    width: 100%;
    height: 88%;
}

.routeListBox{
	width: 700px;
    height: 320px;
	border: 1px solid darkgrey;
	border-radius: 3px;
	display: flex;
    height: 60%;
    flex-direction: column;
}
.routeListTh{
	background-color: #aad6ff;
    line-height: 46px;
    height: 29px;
    display: flex;
}

.routeListTh > p{
	font-size: 15px;
}

.routeLists{
	width: 100%;
	height: 90%;
    overflow: auto;
}
.routeList{
	display: flex;
    flex-direction: row;
    align-items: center;
    margin: unset;
}

#searchRouteId{
    width: 250px;
    height: 23px;
    margin: 0px 0px -50px 34px;
    border-radius: 5px;
}

input[name=routeId]{
	/*width: 15px;*/
    margin: 0px 20px;
}

.routeNm{
	width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
	
}
.routeType{
	width: 10%;
}
.routeStart{
	width: 30%;
}
.routeEnd{
	width: 30%;
}


#routeBtn{
	background-color: #32689b;
    color: white;
    width: 60px;
    height: 30px;
    padding: 5px;
    border: 1px solid #838383;
    margin: -33px 370px 0px 370px;
    cursor: pointer;
}



/* ------------ 占쎈걗占쎄퐨獄쏅벡�뮞 嚥≪뮆逾ワ옙�읂占쎌뵠筌욑옙 */
/* 嚥≪뮆逾ワ옙�넅筌롳옙 */
#lds-spinner {
    background: #0000004f;
    display: flex;
    position: absolute;
    width: 88%;
    left: 6%;
    top: 28%;
    height: 54%;
    z-index: 1000000000;
  }
  #lds-spinner div {
    position: absolute;
    margin-left: 45%;
    top: 36%;
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  #lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: rgb(0, 0, 0);
  }
  #lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  #lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  #lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  #lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  #lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  #lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  #lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  #lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  #lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  #lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  #lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  #lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .lavel-1{
  white-space: nowrap;
   		overflow: hidden;
    	text-overflow: ellipsis;
    	width: 138px;
    	text-align: left;
    	}
    	
    	
    	
    	
/* cell3 - 날짜 - 제공날짜 css */
.serviceDate{
    position: absolute;
	margin-left: 11.5%;
    margin-top: -6.8%;
    padding: 10px;
    box-shadow: 6px 8px 10px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}