*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}
.header {
    width: 100%;
    height: 69px;
    border-bottom: 3px solid #1f2958;
    padding-bottom: 5px;
    position: relative;
}

.logo{
    float: left;
    width: 156px;
    height: 57px;
    /* border: 1px solid red; */
    margin-left: 14px;
    margin-top: 10px;
}
.logo02{
    float: left;
    color: #1f2958;
    font-size: 45px;
    padding: 10px 0;
    font-weight: bold;
}
.mtap{
    position: absolute;
    float: right;
    bottom: 0;
    right: 20px;
}
.mtap p{
    float: right;
    font-size: 17px;
    padding: 0 6px;
}

.login-input-section-wrap{
    padding-top: 115px;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}

.login_wrap{
    float: left;
}

.login-input-wrap{
	width: 484px;
    height: 59px;
}
.login-input-wrap span{    
    background-color: #61abc7;
    display: block;
    width: 50px;
    float: left;
    height: 59px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 59px;
}


.password-wrap{
	margin-top: 13px;
}
.password-wrap span{
    background-color: #61abc7;
    display: block;
    width: 50px;
    float: left;
    height: 59px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 59px;
}


.login-input-wrap input{
    width: 419px;
    font-size: 14px;
    height: 55px;
    border: 1px solid #1f2958;
}
.login-button-wrap {
	width: 131px;
    height: 131px;
    /* background-color: coral; */
    float: left;
    text-align: center;
    margin-left: 22px;
}
.login-button-wrap button{
	width: 131px;
    height: 131px;
    font-size: 18px;
    color: white;
    background-color: #3086a7;
}
.login-stay-sign-in{
	width: 465px;
	height: 52px;
	
	display: flex;
	font-size: 15px;
	color: #4e4e4e;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-gray-color);
}
.login-stay-sign-in i{
	font-size: 25px;
	color: #9ba1a3;
}
.login-stay-sign-in span{
	padding-left: 5px;
	line-height: 25px;
}

.logo03{
    display: flex;
    width: 197px;
    height: 131px;
    float: left;
    margin-top: 117px;
    margin-left: 126px;
}


.wraplog{
    width: 1138px;
    background: #e0f7ff;
    height: 398px;
    border-radius: 47px;
}

footer{
    padding: 15px;
    text-align: center;
    font-size: 25px;
    border-top: 1px solid #818181;
    margin-top: 177px;
}
  
  footer span{
    display: block;
    font-size: 15px;
  }