* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1331px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

/* effect */
.fade {
  width: 100%;
  height: 190px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(6, 30, 49, 0.8);
}


/*硫붿씤 �듬찓�돱 */

.con02 {
  width: 1331px;
  height: 357px;
  background-color: #C6DCF0;
}

.con02 p {
  font-size: 17px;
  color: #476C8D;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
}

.con02>p {
  font-size: 20px;
  color: #476C8D;
  font-weight: bold;
  text-align: center;
  line-height: 74px;
}

.iconwrap {
  width: 1200px;
  height: 328px;
}

.iconwrap1 {
  width: 1200px;
  height: 137px;
}

.iconwrap1>* {
  margin: 19px 53px 23px 72px;
}

.iconwrap2 {
  width: 917px;
  height: 137px;
}

.iconwrap2>* {
  margin: 10px 66px;
}

.icon1 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon1 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.TrafficCard_icon {
  height: 65px;
  /* background-color: blueviolet; */
}

.icon1 p {
  color: #fff;
  font-size: 13px;
}

.icon2 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon2 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon2 p {
  color: #fff;
  font-size: 13px;
}

.icon3 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon3 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon3 p {
  color: #fff;
  font-size: 13px;
}

.icon4 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon4 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon4 p {
  color: #fff;
  font-size: 13px;
}

.icon5 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon5 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon5 p {
  color: #fff;
  font-size: 13px;
}

.icon6 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon6 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon6 p {
  color: #fff;
  font-size: 13px;
}

.icon7 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon7 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon7 p {
  color: #fff;
  font-size: 13px;
}

.icon8 {
  width: 173px;
  height: 99px;
  background-color: #476C8D;
  float: left;
  border-radius: 23px
}

.icon8 :hover {
  transition: 0s;
  border-radius: 23px;
  background-color: #2e4b64;
}

.icon8 p {
  color: #fff;
  font-size: 13px;
}

/* 留덉슦�뒪 �씠踰ㅽ듃 �냼媛� �럹�씠吏� ABOT Y */
.con03 {
  width: 100%;
  height: 747px;
  /* background-color: #597794; */
}

.TextWrap {
  text-align: center;
  /* background-color: antiquewhite; */
  height: 124px;
}

.TextWrap h1 {
  font-size: 20px;
  color: #476c8d;
  margin-top: 50px;
}

.TextWrap p {
  font-size: 13px;
  margin-top: 3px;
  color: #476c8d;
}

.clickwrap {
  width: 900px;
  height: 600px;
  background-color: white;
  margin-top: -39px;
}

.click1 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click1 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click1 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click1 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click1 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click1 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click1 h2:before,
figure.click1 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click1 h2:before {
  left: -1000%;
}

figure.click1 h2:after {
  right: -1000%;
}

figure.click1 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click1 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click1:hover img,
figure.click1.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click1:hover figcaption,
figure.click1.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click1:hover p,
figure.click1.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click2 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click2 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click2 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click2 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click2 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click2 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click2 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click2 h2:before,
figure.click2 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click2 h2:before {
  left: -1000%;
}

figure.click2 h2:after {
  right: -1000%;
}

figure.click2 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click2 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click2:hover img,
figure.click2.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click2:hover figcaption,
figure.click2.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click2:hover p,
figure.click2.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click3 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click3 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click3 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click3 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click3 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click3 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click3 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click3 h2:before,
figure.click3 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click3 h2:before {
  left: -1000%;
}

figure.click3 h2:after {
  right: -1000%;
}

figure.click3 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click3 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click3:hover img,
figure.click3.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click3:hover figcaption,
figure.click3.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click3:hover p,
figure.click3.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click4 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click4 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click4 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click4 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click4 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click4 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click4 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click4 h2:before,
figure.click4 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click4 h2:before {
  left: -1000%;
}

figure.click4 h2:after {
  right: -1000%;
}

figure.click4 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click4 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click4:hover img,
figure.click4.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click4:hover figcaption,
figure.click4.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click4:hover p,
figure.click4.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click5 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click5 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click5 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click5 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click5 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click5 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click5 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click5 h2:before,
figure.click5 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click5 h2:before {
  left: -1000%;
}

figure.click5 h2:after {
  right: -1000%;
}

figure.click5 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click5 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click5:hover img,
figure.click5.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click5:hover figcaption,
figure.click5.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click5:hover p,
figure.click5.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click6 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click6 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click6 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click6 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click6 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click6 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click6 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click6 h2:before,
figure.click6 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click6 h2:before {
  left: -1000%;
}

figure.click6 h2:after {
  right: -1000%;
}

figure.click6 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click6 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click6:hover img,
figure.click6.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click6:hover figcaption,
figure.click6.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click6:hover p,
figure.click6.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click7 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click7 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click7 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click7 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click7 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click7 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click7 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click7 h2:before,
figure.click7 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click7 h2:before {
  left: -1000%;
}

figure.click7 h2:after {
  right: -1000%;
}

figure.click7 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click7 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click7:hover img,
figure.click7.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click7:hover figcaption,
figure.click7.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click7:hover p,
figure.click7.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.click8 {
  background-color: brown;
  width: 300px;
  height: 200px;
  float: left;
}

figure.click8 {
  position: relative;
  overflow: hidden;
  background: #c6dcf0;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  font-size: 16px;
}

figure.click8 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.click8 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.click8 figcaption {
        position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    height: 34px;
    background: #476c8dd9;
}

figure.click8 .heading {
      overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 17px;
    width: 100%;
}

figure.click8 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.click8 h2:before,
figure.click8 h2:after {
      position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    /* background: white; */
    top: 50%;
}

figure.click8 h2:before {
  left: -1000%;
}

figure.click8 h2:after {
  right: -1000%;
}

figure.click8 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: -1.5em;
}

figure.click8 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.click8:hover img,
figure.click8.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.click8:hover figcaption,
figure.click8.hover figcaption {
      top: 7%;
    bottom: 7%;
    height: 169px;
}

figure.click8:hover p,
figure.click8.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

/* 怨듭� */
.con04 {
  width: 100%;
  height: 406px;
  /* background-color: #1b3a58; */
  padding-top: 69px;
}

.toph1 {
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid #476c8d;
  color: #476c8d;
  width: 133px;
  margin-bottom: 39px;
}

.NoticeWrap {
  background-color: #ffffff;
  width: 980px;
  height: 246px;
  display: grid;
}

.NoticeTittle {
  width: 753px;
  height: 30px;
  padding: 2px 0;
  background-color: #b3d3f0;
}

.NoticeTittle h1 {
  color: #476c8d;
  font-size: 15px;
  float: left;
  margin-left: 50px;
  line-height: 30px;
}

.NoticeTittle h1 a {
  color: #476c8d;
  font-size: 20px;
  float: right;
  line-height: 27px;
  margin-left: 50px;
}

.NoticeTittle :last-child {
  float: right;
  margin-right: 16px;
}

.NoticeList {
  width: 753px;
  height: 212px;
  background-color: #ffffff;
}

.NoticeList li {
  margin: 5px;
  border-bottom: 1px solid #414141;
  padding: 8px;
}

.NoticeList li a {
  font-size: 15px;
  color: grey;
  margin: 10px;
}

/* 諛붾줈媛�湲� 踰꾪듉 */
.quick_menu {
  right: 0.5%;
  position: absolute;
  top: 50%;
}

.quick_menu.fixed {
  position: fixed;
  top: 50%;
  z-index: 100
}

.quick_menu li {
  text-align: right;
  width: 259px;
  height: 18px;
  border-radius: 5px;
  background: url(../../images/common/a.svg) no-repeat 231px;
  margin-bottom: 21px;
  overflow: hidden;
}

.quick_menu li a {
  font-size: 11px;
  text-decoration: none;
  color: #1f2958;
  display: block;
  padding: 0 32px;
  line-height: 18px;
}

.quick_menu li a:visited {
  background: url(../../images/common/b.svg) no-repeat 231px 0.2px;
  background-size: 18px;

}

.quick_menu li a:active {
  background: url(../../images/common/b.svg) no-repeat 231px 0.2px;
  background-size: 18px;

}

.on {
  background: url(../../images/common/b.svg) no-repeat 231px 0.2px;
  background-size: 18px;

}

.quick_menu li a:hover {
  background: url(../../images/common/b.svg) no-repeat 231px 0.2px;
  background-size: 18px;

}

footer {
  padding: 15px;
  text-align: center;
  font-size: 25px;
  border-top: 1px solid #818181;
}

footer span {
  display: block;
  font-size: 12px;
}