*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #000;
}
.header {
    width: 100%;
    height: 69px;
    border-bottom: 3px solid #1f2958;
    padding-bottom: 5px;
    position: relative;
}

.logo{
    float: left;
    width: 156px;
    height: 57px;
    /* border: 1px solid red; */
    margin-left: 14px;
    margin-top: 10px;
}
.logo02{
    float: left;
    color: #1f2958;
    font-size: 35px;
    padding: 10px 0;
    font-weight: bold;
}
.mtap{
    position: absolute;
    float: right;
    bottom: 0;
    right: 20px;
    
  }
  .mtap p{
      float: left;
      font-size: 17px;
      padding: 0 6px;
  }
  
/* 드롭다운 베뉴 */
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn {
    background-color: #ffffff;
    color: black;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c6dcf0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    right: 1px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #b3d3f0;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #c6dcf0;}
.ConName{
    height: 43px;
    width: 1920px;
    /* margin-top: 15px; */
    /* margin-bottom: 10px; */
    border-bottom: 3px solid #5C7D9A;
}
.contents{
    text-align: center;
    width: 1551px;
    height: 42px;
}
.contents a{
    text-decoration: none;
    color: #000;
    float: left;
    font-size: 23px;
    margin-left: 11px;
    width: 159px;
    /* padding: 5px; */
    text-align: center;
    /* background: aquamarine;*/
}
.contents span{
    float: left;
    font-size: 23px;
    margin-left: 11px;
    width: 159px;
    padding: 5px 0;
}
.contents div{
    background-color: #5C7D9A;
    width: 159px;
    float: left;
    margin-left: 11px;
    height: 43px;
}
.contents :first-child{
    margin-left: 0;
}
.contents :nth-child(9){
    background-color: #5C7D9A;
    color: white;
}
.ConEx{
    width: 1920px;
    height: 190px;
    background-color: #555555;
}
.selectbox{
    height: 555px;
    width: 1920px;
    /* border: 1px solid red; */
}
.selectbox >*{ 
    float: left;
    width: calc(100% / 6);
    height: 555px;
    /* border-left: 1px solid rgb(189, 189, 189); */
}



.cell1{
    /* width: calc(100% / 6 *2); */
    background: #ccdded;
}
.cell1 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
    margin-left: 105px;
}
.cell1 label{
    margin: 0 39px;
    font-size: 20px;
    display: block;
}
.cell1_01{
    margin-top: 14px;
    height: 185px;
    border-bottom: 1px solid gray;
}
.cell1_01 div{
    width: 193px;
}
.cell1_02{
    height: 162px;
    border-bottom: 1px solid gray;
}
.cell1_02 div{
    width: 281px;
}
.cell1_02 div label {
    height: 82px;
    margin-left: 82px;
}
.cell1_03{
    height: 106px;
}
.cell1_03 div{
    width: 193px;
}

.cell2{
    background: #ccdded;
}
.cell2 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell2 label{
    margin: 12px;
    font-size: 20px;
    display: block;
}
.cell2_01{
    margin-top: 14px;
    height: 185px;
    border-bottom: 1px solid gray;
}
.cell2_01 div{
    width: 265px;
}
.cell2_02{
    height: 162px;
    border-bottom: 1px solid gray;
    /* border-top: 1px solid gray; */
    margin-top: 13px;
}
.cell2_02 div{
    width: 265px;
    margin-top: -13px;
}
.cell2_03{
    height: 100px;
}
.cell2_03 div{
    width: 265px;
    margin-top: -11px;
}



.cell3{
    /* background: #ccdded; */
    background: #ccdded;
}
.cell3_01{}
.cell3_02{
    margin:98px 0px 58px 0px;
    
}
.cell3_02 p {
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell3_02 label{
    margin: 12px;
    font-size: 20px;
    display: inline-block;
}
.cell3_02 div label {
    width: 186px;}
.cell3_02 select{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}
.cell3_02 span{
    font-size: 20px;
    /* float: left; */
}
.cell3 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell3 label{
    margin: 0 -84px 0 62px;
    font-size: 20px;
    display: inline-block;
    width: 202px;
}

#passDate {
    margin-left: 15px;
    font-size: 15px;
}
#anal_area_cd_sido{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}
#anal_area_cd{
    margin: 10px auto;
    width: 154px;
    display: block;
    font-size: 15px;
}


/* hcell1 */
.hcell1{
    /* display: none; */
    float: left;
    height: 555px;
    width: calc(100% / 2);
    /* border: 1px solid red; */
}
.hcell1 >*{ 
    float: left;
    width: 100%;
    height: 555px;
    /* border-left: 1px solid rgb(189, 189, 189); */
}
.hcell1 > .cell4{}
.hcell1 > .cell4 p{}
.hcell1 > .cell4 > .cell4_01{
    /* width: 257px; */
}
.hcell1 > .cell5{}
.hcell1 > .cell5 p {}
.hcell1 >.cell5 > .cell5_01 div{}
/* .hcell1 > .cell6{width: calc(100% / 2);} */
.hcell1 > .cell6 p {}
.hcell1 >.cell6 > .cell6_01 div{
    margin-top: -60px;
    margin-left: 83px;}

/* hcell 요소 */

.cell4{
    /* background: #ccdded; */
}
.cell4 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 152px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #1f2958;
}
.cell4 label{
    margin: 12px;
    font-size: 20px;
    display: block;
}
.cell4_01{
    margin-top: 46px;
    /* border-bottom: 1px solid gray; */
}
.cell4_01 div{
    border: 1px solid #407cb1;
    width: 877px;   
    height: 46px;
    line-height: 46px;
}
.cell4_01 div p{
    font-size: 20px;
    border: none;
    font-weight: normal;
    width: 88px;
    /* background: aliceblue; */
    display: inline;
    margin-left: 10px;
}
.cell4_01 div span{
    font-size: 20px;
    border: none;
    font-weight: normal;
    width: 88px;
    /* background: aliceblue; */
    display: inline;
    margin-left: 10px;
}

.cell4_02 div{
    border: 1px solid #407cb1;
    margin-top: 12px;
    width: 877px;
    height: 111px;
    line-height: 111px;
}
.cell4_02 div p{
    font-size: 20px;
    border: none;
    font-weight: normal;
    width: 88px;
    /* background: aliceblue; */
    display: inline;
    margin-left: 10px;
}
.cell4_02 div span{
    font-size: 20px;
    border: none;
    width: 88px;
    /* background: aliceblue; */
    margin-left: 10px;
}




.submit{
    margin-top: 34px;
    text-align: center;
    display: block;
    width: 92px;
    height: 49px;
    font-size: 25px;
    background-color: #5c7d9a;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
a{
    text-decoration-line: none;

}