<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybs.indicator.pass.service.impl.PassMapper">
	
	<select id ="selectPassSearchAjaxOwner" parameterType="pVO" resultType="egovMap">
	SELECT DISTINCT OWNER FROM 분석지역_CD 
	WHERE 1=1
		AND 운행일자 BETWEEN #{passDateStart} AND #{passDateEnd}
		<![CDATA[
		AND #{passDateStart} >= 운행일자
		AND #{passDateEnd} <= 유효일자
		]]>
	ORDER BY OWNER
	</select>
	
	<select id ="selectPassSearchAjaxSido" parameterType="pVO" resultType="egovMap">
	SELECT DISTINCT 분석지역_CD, 분석지역명 FROM 분석지역_CD 
	WHERE 1=1
		AND 운행일자 BETWEEN #{passDateStart} AND #{passDateEnd}
		<![CDATA[
		AND #{passDateStart} >= 운행일자
		AND #{passDateEnd} <= 유효일자
		]]>
		AND OWNER = #{passOwner}
		AND 분석지역_CD LIKE '__'
	ORDER BY 분석지역_CD
	</select>
	<select id ="selectPassSearchAjaxSigungu" parameterType="pVO" resultType="egovMap">
	SELECT DISTINCT 분석지역_CD, 분석지역명 FROM 분석지역_CD 
	WHERE 1=1
		AND 운행일자 BETWEEN #{passDateStart} AND #{passDateEnd}
		<![CDATA[
		AND #{passDateStart} >= 운행일자
		AND #{passDateEnd} <= 유효일자
		]]>
		AND OWNER = #{passOwner}
		AND 분석지역_CD LIKE #{passSido} || '%'
	ORDER BY 분석지역명
	</select>
	
	<select id ="selectPassResultListPurpose" parameterType="pVO" resultType="egovMap">
	SELECT ROWNUM, PASSDATE, PASSAREA, PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSCNT
	FROM
		(SELECT PASSDATE, PASSAREA, B.분석지역명 PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSCNT
			FROM 결과지표_목적통행 A, 분석지역_CD B
			WHERE 1=1
				AND A.PASSDATE = B.운행일자
				AND A.PASSOWNER = B.OWNER
				AND A.PASSAREA = B.분석지역_CD
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
		ORDER BY PASSDATE, PASSAREA, PASSTIME, PASSUSERTYPE)
	ORDER BY ROWNUM
	</select>
	
	<select id ="selectPassResultListMethod" parameterType="pVO" resultType="egovMap">
	SELECT ROWNUM, PASSDATE, PASSAREA, PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSCNT
	FROM
		(SELECT PASSDATE, PASSAREA, B.분석지역명 PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSCNT 
			FROM 결과지표_수단통행 A, 분석지역_CD B
			WHERE 1=1
				AND A.PASSDATE = B.운행일자
				AND A.PASSOWNER = B.OWNER
				AND A.PASSAREA = B.분석지역_CD
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
				<if test="!passTransport.equals('00')">
					AND PASSTRANSPORT = #{passTransport}
				</if>
		ORDER BY PASSDATE, PASSAREA, PASSTIME, PASSUSERTYPE, PASSTRANSPORT)
	ORDER BY ROWNUM
	</select>
	

	<select id ="selectPassResultListRouteB" parameterType="pVO" resultType="egovMap">
		SELECT ROWNUM, PASSDATE, PASSOWNER, PASSAREA, 분석지역명 PASSAREA_KR, PASSROUTE, 노선명칭 PASSROUTE_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSRTEBINCNT, PASSRTEBOUTCNT, PASSRTEBHSCNT
		FROM
			(SELECT * 
			FROM 결과지표_노선별통행
			WHERE 1=1
				AND PASSTRANSPORT = 'B'
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
			ORDER BY PASSDATE, PASSROUTE, PASSTIME, PASSUSERTYPE, PASSTRANSPORT)
		ORDER BY ROWNUM
	</select>
	
	<select id ="selectPassResultListRouteT" parameterType="pVO" resultType="egovMap">
		SELECT ROWNUM, PASSDATE, PASSOWNER, PASSAREA, 분석지역명 PASSAREA_KR, PASSROUTE, 노선명칭 PASSROUTE_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSRTETINCNT, PASSRTETOUTCNT, PASSRTETHSCNT
		FROM
			(SELECT * 
			FROM 결과지표_노선별통행
			WHERE 1=1
				AND PASSTRANSPORT = 'T'
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
			ORDER BY PASSDATE, PASSROUTE, PASSTIME, PASSUSERTYPE, PASSTRANSPORT)
		ORDER BY ROWNUM
	</select>
	
	<select id ="selectPassResultListStationB" parameterType="pVO" resultType="egovMap">
		SELECT ROWNUM, PASSDATE, PASSOWNER, PASSAREA, 분석지역명 PASSAREA_KR, PASSSTATION, 정류장명칭 PASSSTATION_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSSTNBINCNT, PASSSTNBOUTCNT, PASSSTNBHSCNT
		FROM
			(SELECT * 
			FROM 결과지표_정류장별통행
			WHERE 1=1
				AND PASSTRANSPORT = 'B'
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
			ORDER BY PASSDATE, PASSSTATION, PASSTIME, PASSUSERTYPE, PASSTRANSPORT)
		ORDER BY ROWNUM
	</select>
	
		<select id ="selectPassResultListStationT" parameterType="pVO" resultType="egovMap">
		SELECT ROWNUM, PASSDATE, PASSOWNER, PASSAREA, 분석지역명 PASSAREA_KR, PASSSTATION, 정류장명칭 PASSSTATION_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSSTNTINCNT, PASSSTNTOUTCNT, PASSSTNTHSCNT
		FROM
			(SELECT * 
			FROM 결과지표_정류장별통행
			WHERE 1=1
				AND PASSTRANSPORT = 'T'
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
			ORDER BY PASSDATE, PASSSTATION, PASSTIME, PASSUSERTYPE, PASSTRANSPORT)
		ORDER BY ROWNUM
	</select>
	
</mapper>