<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybs.indicator.pass.service.impl.PassMapper">
	
	<select id ="selectPassGroup" parameterType="pVO" resultType="egovMap">
	SELECT DISTINCT OWNER FROM 분석지역_CD 
	WHERE 1=1
	AND 운행일자 BETWEEN #{passDateStart} AND #{passDateEnd}
	</select>
	
	<select id ="selectPassResultListPurpose" parameterType="pVO" resultType="egovMap">
	SELECT ROWNUM, PASSDATE, PASSAREA, PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSCNT
	FROM
		(SELECT PASSDATE, PASSAREA, B.분석지역명 PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSCNT
			FROM 결과지표_목적통행 A, 분석지역_CD B
			WHERE 1=1
				AND A.PASSDATE = B.운행일자
				AND A.PASSOWNER = B.OWNER
				AND A.PASSAREA = B.분석지역_CD
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
		ORDER BY PASSDATE, PASSAREA, PASSTIME, PASSUSERTYPE)
	ORDER BY ROWNUM
	</select>
	
	<select id ="selectPassResultListMethod" parameterType="pVO" resultType="egovMap">
	SELECT ROWNUM, PASSDATE, PASSAREA, PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSCNT
	FROM
		(SELECT PASSDATE, PASSAREA, B.분석지역명 PASSAREA_KR, PASSTIME, PASSUSERTYPE, PASSTRANSPORT, PASSCNT 
			FROM 결과지표_수단통행 A, 분석지역_CD B
			WHERE 1=1
				AND A.PASSDATE = B.운행일자
				AND A.PASSOWNER = B.OWNER
				AND A.PASSAREA = B.분석지역_CD
				AND PASSDATE BETWEEN #{passDateStart} AND #{passDateEnd}
				AND PASSOWNER = #{passOwner}
				AND PASSAREA = #{passSigungu}
				<if test="passTime==null">
					AND PASSTIME BETWEEN #{passTimeStart} AND #{passTimeEnd}
				</if>
				<if test="!passUserType[0].equals('00')">
					AND PASSUSERTYPE IN
					<foreach collection="passUserType" item="arr" index="i" separator="," open="(" close=")">
						#{arr}
					</foreach>
				</if>
				<if test="!passTransport.equals('00')">
					AND PASSTRANSPORT = #{passTransport}
				</if>
		ORDER BY PASSDATE, PASSAREA, PASSTIME, PASSUSERTYPE, PASSTRANSPORT)
	ORDER BY ROWNUM
	</select>
	

	<select id ="selectPassResultListRoute" parameterType="pVO" resultType="egovMap">
	
	
	</select>
	
	<select id ="selectPassResultListStation" parameterType="pVO" resultType="egovMap">
	
	
	</select>
	
	
</mapper>