<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybs.indicator.timeDistn.service.impl.TimeDistnMapper">

	<!-- 1일 평균 통행시간 -->
	<select id ="selectTimeDistnResultListDay" parameterType="sVO" resultType="egovMap" fetchSize="1000">
		SELECT *
		FROM 시간거리_평균통행
		WHERE 1=1
			AND OPRAT_DATE = #{dateStart}
			AND ANAL_AREA_CD = #{anal_area_cd}
			AND PROVIDER = #{provider}
			<if test="tm==null">
				AND TM BETWEEN #{tmStart} AND #{tmEnd}
			</if>
			<if test="!cd_no[0].equals('00')">
				AND CD_NO IN
				<foreach collection="cd_no" item="arr" index="i" separator="," open="(" close=")">
					#{arr}
				</foreach>
			</if>
		ORDER BY OPRAT_DATE, FLAG DESC, TM, CD_NO
	</select>
	
	<!-- 1일 평균 통행시간 일별 -->
	<select id ="selectTimeDistnResultListDay_d" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
	<!-- 목적통행 평균 통행시간 -->
	<select id ="selectTimeDistnResultListPurpose" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
	<!-- 목적통행 평균 통행시간 일별 -->
	<select id ="selectTimeDistnResultListPurpose_d" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
	<!-- 수단통행 평균 통행시간 -->
	<select id ="selectTimeDistnResultListMethod" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
	<!-- 수단통행 평균 통행시간 일별 -->
	<select id ="selectTimeDistnResultListMethod_d" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
	<!-- 노선별 평균 통행시간 -->
	<select id ="selectTimeDistnResultListRoute" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
	<!-- 노선별 평균 통행시간 일별 -->
	<select id ="selectTimeDistnResultListRoute_d" parameterType="sVO" resultType="egovMap" fetchSize="1000">
	</select>
	
</mapper>
